root = true

[*.cs]
# Null checks
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
csharp_style_prefer_pattern_matching = true:warning

# Async
dotnet_diagnostic.CA2007.severity = suggestion  # ConfigureAwait

# Collections
dotnet_diagnostic.CA1825.severity = warning     # Array.Empty<T>() / []

# Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Style
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
dotnet_style_readonly_field = true:suggestion
